<!DOCTYPE html>
<!-- saved from url=(0015)https://orb.bz/ -->
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Orb</title>
    <link rel="shortcut icon" type="image/png" href="./favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="./main.css">
</head>

<body class="is-preload">
    <div id="page-wrapper">


        <!-- Main -->
        <section id="main" class="container">
            <header>
                <img style="height:10em;" src="./favicon.png">
                <h2>Orb</h2>
                <h3 style="font-size:120%; margin: 0.25em 0em 0em 0em">The highest APYs ever, <a
                        href="https://medium.com/@Orb_bz/introducing-orb-the-highest-apys-ever-6a9fa39d7560?source=friends_link&amp;sk=3c3dd439bbccf58a68fbc759af6dc44a"
                        target="_blank">learn more</a>.</h3>


            </header>

            <div class="row">
                <div class="col-12">

                    <!-- Table -->
                    <section class="box">



                        <center><span id="connectError"></span></center>
                        <center><input style="" type="reset" onclick="loadValues()"
                                value="Connect wallet to load values" class="alt"></center>

                        <br>

                        <center>
                            <h4 style="">Total Value Locked: <span id="TVL"></span></h4>
                        </center>

                        <hr>



                        <center>
                            <h5 style="color: red">The Orb experiment is not auditied and ultra high risk. There may be
                                bugs or it may not work as you assume. Do not stake or buy the token unless you fully <a
                                    href="https://etherscan.io/address/0xB8C63A75eFAee44574eefcE78Ff0E1A50AcD95B3#code"
                                    target="_blank">went through the code</a> and have a good understanding of it. Use
                                at your own risk.</h5>
                        </center>


                        <center>
                            <h3 style="">Stake</h3>
                        </center>

                        <center>
                            <h4 style="">The dapp below takes your Eth, converts half to the token, and then pools the
                                token/eth to its Uniswap pool, earning you Orb. You can do this manually on the Uniswap
                                site if you like but then you won't earn Orb.</h4>
                        </center>
                        <!--<center><span id = "stakeError"></span></center>-->

                        <!-- <center><h4 style="">balj</h4></center> -->
                        <center><span id="stakeError"></span></center>



                        <div class="table-wrapper" style="font-size: 90%;">

                            <table class="alt">
                                <thead>
                                    <tr>
                                        <th>Token</th>


                                        <th>Stake</th>
                                        <th>APY</th>
                                        <th>UNI-V2 Staked</th>

                                        <th>Orb earned</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>


                                        <td>
                                            <img style="vertical-align:text-bottom; height:1.5em;"
                                                src="./favicon.png">
                                            <a href="https://uniswap.info/token/0x7BB594b3c757801346801f025699E39E7aaf5a49"
                                                target="_blank">Orb</a></td>

                                        <td style="max-width: 25em;">
                                            <center>
                                                <input style="display: inline-block;vertical-align: middle;"
                                                    type="reset" onclick="stakeToken()" value="Stake" class="alt">
                                                <input
                                                    style="display: inline-block;vertical-align: middle;max-width: calc(100% - 6.75em);"
                                                    type="text" id="stakeInput" placeholder="ETH Amount">
                                                <span id="error" style="font-size: 75%;"></span>
                                            </center>
                                        </td>

                                        <td>
                                            <p id="APY"></p>
                                        </td>
                                        <td>
                                            <p id="uniStaked"></p>
                                        </td>
                                        <td>
                                            <p id="rewardAmount"></p>
                                        </td>

                                    </tr>


                                </tbody>

                            </table>


                        </div>


                        <hr>

                        <center>
                            <h3 style="margin: 0em;">Referral link</h3>
                        </center>
                        <center>
                            <h4 style="">Tell others about Orb and earn <b>10%</b> of all value staked with your custom
                                link below.</h4>
                        </center>
                        <center>
                            <h4 style="" id="referralLink"></h4>
                        </center>
                        <center>
                            <h4 style="">Orb earned: <span id="referralEarned"></span></h4>
                        </center>
                        <center>
                            <h5 style=""><span id="referralError"></span></h5>
                        </center>



                        <!--  <hr />

                                    <center><h3 style="margin: 0em;">Arbitrage</h3></center>
                                    <center><h4 style="margin: 0em;">Coming soon</h4></center> -->

                        <hr>



                        <center>
                            <h3 style="margin: 0em;">Withdraw UNI-V2/Claim rewards</h3>
                        </center>
                        <center><span id="withdrawError"></span></center>



                        <div class="table-wrapper" style="font-size: 90%;">

                            <table class="alt">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Withdraw</th>
                                        <th>Amount</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4>UNI-V2</h4>
                                        </td>


                                        <td style="max-width: 25em;">
                                            <center>
                                                <input style="display: inline-block;vertical-align: middle;"
                                                    type="reset" onclick="withdrawUni()" value="Withdraw" class="alt">
                                                <input
                                                    style="display: inline-block;vertical-align: middle;max-width: calc(100% - 8.5em);"
                                                    type="text" id="withdrawUni" placeholder="UNI-V2 Amount">

                                            </center>
                                        </td>

                                        <td>
                                            <p id="uniStaked2"></p>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td>
                                            <h4>Staking Rewards</h4>
                                        </td>

                                        <td style="max-width: 25em;">
                                            <center>
                                                <input style="display: inline-block;vertical-align: middle;"
                                                    type="reset" onclick="withdrawReward()" value="Withdraw"
                                                    class="alt">
                                                <input
                                                    style="display: inline-block;vertical-align: middle;max-width: calc(100% - 8.5em);"
                                                    type="text" id="withdrawStaking"
                                                    placeholder="Staking Rewards Amount">

                                            </center>
                                        </td>

                                        <td>
                                            <p id="rewardAmount2"></p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h4>Referral Rewards</h4>
                                        </td>

                                        <td style="max-width: 25em;">
                                            <center>
                                                <input style="display: inline-block;vertical-align: middle;"
                                                    type="reset" onclick="withdrawReferral()" value="Withdraw"
                                                    class="alt">
                                                <input
                                                    style="display: inline-block;vertical-align: middle;max-width: calc(100% - 8.5em);"
                                                    type="text" id="withdrawReferral"
                                                    placeholder="Referral Rewards Amount">

                                            </center>
                                        </td>

                                        <td>
                                            <p id="referralEarned2"></p>
                                        </td>
                                    </tr>


                                </tbody>

                            </table>


                        </div>


                    </section>

                </div>
            </div>

        </section>



        <!-- Footer -->
        <footer id="footer" style="padding: 2em 0em 1em 0em;">
            <ul class="icons" style="margin: 0 0 1.25em 0;">

                <li><a href="https://twitter.com/Orb_bz" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24">
                            <path
                                d="M24 4.557a9.83 9.83 0 0 1-2.828.775c1.017-.61 1.798-1.574 2.165-2.724-.95.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555a4.93 4.93 0 0 0-4.797 6.045C7.728 8.088 4.1 6.128 1.67 3.15a4.93 4.93 0 0 0 1.523 6.574c-.806-.026-1.566-.247-2.23-.616a4.93 4.93 0 0 0 3.949 4.89c-.693.188-1.452.232-2.224.084a4.93 4.93 0 0 0 4.6 3.419A9.9 9.9 0 0 1 0 19.54a13.94 13.94 0 0 0 7.548 2.212c9.142 0 14.307-7.72 13.995-14.646.962-.695 1.797-1.562 2.457-2.55z">
                            </path>
                        </svg></a></li>

                <li><a href="https://medium.com/@Orb_bz" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24">
                            <path
                                d="M2.846 6.887a.93.93 0 0 0-.303-.784l-2.24-2.7V3H7.26l5.378 11.795L17.367 3H24v.403L22.084 5.24a.56.56 0 0 0-.213.538v13.498a.56.56 0 0 0 .213.537l1.87 1.837v.403h-9.412v-.403l1.94-1.882c.2-.2.2-.246.2-.537V8.32l-5.39 13.688h-.728L4.28 8.32v9.174c-.052.385.076.774.347 1.052l2.52 3.058v.404H0v-.404l2.52-3.058a1.22 1.22 0 0 0 .325-1.052V6.887z">
                            </path>
                        </svg></a></li>

                <li><a href="https://discord.gg/yq8ZfVg" target="_blank"><svg style="margin: 0.28em 0 0 0;"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3.58 21.196h14.26l-.68-2.205 1.63 1.398 1.493 1.338L23 24V2.475C22.932 1.137 21.78 0 20.352 0L3.585.003C2.158.003 1 1.142 1 2.48v16.24c0 1.4 1.156 2.476 2.58 2.476zM14.128 5.683l-.033.012.012-.012zm-7.63 1.27c1.833-1.334 3.532-1.27 3.532-1.27l.137.135c-2.243.535-3.26 1.537-3.26 1.537l.747-.336c3.02-1.188 6.32-1.102 9.374.402 0 0-1.02-.937-3.124-1.537L14.1 5.7c.3.001 1.83.055 3.48 1.26 0 0 1.844 3.15 1.844 7.02-.06-.074-1.144 1.666-3.93 1.726l-.808-1c1.63-.468 2.24-1.404 2.24-1.404-.535.337-1.023.537-1.42.737-.6.268-1.22.4-1.828.535-2.884.468-4.503-.315-6.033-.936l-.523-.266s.6.936 2.174 1.404l-.818 1.002c-2.786-.066-3.802-1.806-3.802-1.806 0-3.876 1.833-7.02 1.833-7.02zm7.8 5.817c.7 0 1.3-.6 1.3-1.34 0-.735-.576-1.335-1.3-1.335v.003c-.708 0-1.288.598-1.3 1.338 0 .734.58 1.334 1.3 1.334zm-4.608 0c.7 0 1.3-.6 1.3-1.34 0-.735-.575-1.335-1.286-1.335L9.7 10.1c-.7 0-1.3.598-1.3 1.338 0 .734.58 1.334 1.3 1.334z">
                            </path>
                        </svg></a></li>


            </ul>




        </footer>

    </div>

    <script src="./web3.min.js"></script>
    <script src="./calc.js"></script>



    <div id="mouseposition-extension-element-full-container"
        style="position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; pointer-events: none; z-index: 2147483647; font-weight: 400;">
        <div id="mouseposition-extension-element-rect-display"
            style="display: none; position: absolute; background: rgba(255, 255, 255, 0.7); outline: black solid 1px; font-size: 12px; z-index: 2147483647; justify-content: center; align-items: center; user-select: none; cursor: default; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; width: 0px; height: 0px;">
            <pre
                style="flex: 1 1 0%; text-align: center; background-color: rgba(255, 255, 255, 0.7); color: rgb(0, 0, 0); min-width: 42px; min-height: 12px; transition: all 1s ease 0s;"></pre>
        </div>
        <pre id="mouseposition-extension-element-coordinate-display"
            style="position: absolute; display: none; background: rgb(255, 255, 255); font-size: 12px; line-height: 14px; border-radius: 3px; border-width: 1px; border-color: rgb(34, 34, 34) black rgb(51, 51, 51); border-style: solid; padding: 3px; z-index: 2147483647; color: rgb(34, 34, 34); user-select: none; cursor: default; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"></pre>
    </div>
</body>

</html>